<div class="wrap">
    <!-- <div class="panel panel-primary reposlist col-md-3" *ngFor="let repo of data.dataserviceRepos.items | orderBy: data.dataserviceRepos.items.full_name | paginate: { itemsPerPage: 9, currentPage: page }"> -->
    <div class="panel panel-primary reposlist col-md-3" *ngFor="let repo of data.dataserviceRepos.items | paginate: { itemsPerPage: 9, currentPage: page }">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a target="_blank" href={{repo.html_url}}>{{repo.full_name}}</a>
            </h3>
        </div>
        <div class="panel-body">
            <div id='deskContent'>
                <img src={{repo.owner.avatar_url}} class='img-responsive' id="avatar" alt='Avatar'>
            </div>
            <div>
                <strong>Author:</strong> {{repo.owner.login}}</div>
            <div>
                <strong>Number of stars:</strong>
                <img class='starRating' src='./assets/star.png'> {{repo.stargazers_count}}</div>
            <div id='deskContent'>
                <strong>Number of issues:</strong>
                <div *ngIf="repo.open_issues_count>0; then thenBlock1; else elseBlock1"></div>
            </div>
            <ng-template #thenBlock1>{{repo.open_issues_count}}</ng-template>
            <ng-template #elseBlock1>none</ng-template>
            <div id='deskContent'>
                <strong>Privacy:</strong>
                <div *ngIf="repo.private; then thenBlock; else elseBlock" id='deskContent'></div>
            </div>
        </div>
    </div>
</div>
<ng-template #thenBlock>private</ng-template>
<ng-template #elseBlock>public</ng-template>

<pagination-controls (pageChange)="page = $event"></pagination-controls>