.flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align:center; /*For IE6 Shenanigans*/ 
        margin: 3%;
        flex-direction: row;
      }